.left{
	float:left;
}

.right{
	float:right;
}

.clearfix{
	clear:both;
}

.land {
  stroke:darkblue;
  stroke-width:1;
  fill:none;
}

.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}