<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>JS-CHANNEL</title>

		<meta name="description" content="A presentation on AngularJS, Yeoman and D3.js">
		<meta name="author" content="Oscar Villarreal and Suman Paul">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<script src="lib/d3.js"></script>
		<script src="lib/topojson.v1.min.js"></script>

		<link rel="stylesheet" href="css/reveal.min.css">

		<link rel="stylesheet" href="css/theme/simple.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
		<link rel="stylesheet" href="css/styles.css">


		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

	
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Yeoman, AngularJS and D3.js</h1>
					<h3>Solid stack for web apps</h3>
					<p>Created by</p>
					<p>
						<small> <a href="http://oscarvillarreal.com">Oscar Villarreal</a> / <a href="http://twitter.com/climboid">@climboid</a></small>
					</p>
				</section>

				<section>
					<h2>Structure of the course</h2>
					<p>
						<ul>
							<li>Intros</li>
							<li>Evolution of Front End</li>
							<li>Dive into Yeoman</li>
							<li>Dive into Angular</li>
							<li>Dive into D3.js</li>
							<li>Projects throughout all points</li>
						</ul>
					</p>

					<aside class="notes">
						Talk about who we are, what we've been doing, climbing in the Himalaya.
					</aside>
				</section>

				<section>
					<h2>Intros</h2>
					
					<aside class="notes">
						Talk about who we are, what we've been doing, climbing in the Himalaya.
					</aside>
				</section>

				<section>
					<h2>Oscar Villarreal</h2>
					<img src="img/me.jpg" class="left"/>
					<ul class="introList">
						<li>AngularJS</li>
						<li>webGL</li>
						<li>d3JS</li>
						<li>Rock climb</li>
						<li>oscarvillareal.com</li>
						<li>@climboid</li>
					</ul>
				</section>

				<section>
					<img src="img/winOld.png"/>
					<p>The past</p>
					<aside class="notes">
						<ul>
							<li>Static pages rendered in the Server</li>
							<li>Little support for JavaScript</li>
							<li>Cross browser Hell</li>
							<li>Animated gifs was as good as it got</li>
							<li>PrototypeJS - Thomas Fuchs</li>
							<li>jQuery - John Resig</li>
							<li>Flash was awesome</li>
							<li>No mobile or very little</li>
						</ul>
						I've created jQuery hell<br>
						I used to do flash<br>
						Loved Firefox and hated IE<br>
						look from site point "The Art &amp; Science of JavaScript
						Thomas Fuchs &amp; Amy Hoy - JavaScript Master Class
					</aside>
				</section>

				<section>
					<img src="img/dontStop.jpg"/>
					<p>The present</p>
					<aside class="notes">
						<ul>
							<li>Browser wars are over</li>
							<li>HTML5 is her to stay</li>
							<li>JavaScript is in the top 5 most popular <a href="http://langpop.com/" target="_blank">languages in the world</a></li>
							<li>CANVAS and SVG dominate</li>
							<li>webGL</li>
							<li>Flash is not dead but its not as popular</li>
							<li>Automatic updates are all over the place</li>
						</ul>
						Browser wars really did the trick<br>
						V8 from chrome pushed the limits<br>
						Everyone has a browser on their computer<br>
					</aside>
				</section>

				<section>
					<img src="img/infinite_power.jpg"/>
					<p>It basically means that we have the power to do things better and more organized with richer interactions</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<img src="img/bored.jpg"/>
					<p>Start with your work flow</p>
					<aside class="notes">
						How much time do you spend this days creating a boilerplate template?
						Do you have all of your set up processes optimized so that you spend very little effort finding and installing what you need?
					</aside>
				</section>

				<section>
					<h2>Right common libraries and utilities... there are hundreds?</h2>
					<aside class="notes">
					</aside>
				</section>

				<section>
					<img src="img/yeoman.png"/>
					<aside class="notes">
					</aside>
				</section>

				<section>
					<img src="img/yeoman-logo.png"/>
					<ul>
						<li>"A collection of tools and best practices working in harmony to make developing for the web even better"</li>
						<li>Allows you to quickly assemble files and folders along with boilerplate code.</li>
						<li>Uses grunt for all of its tasks</li>
						<li>Uses Bower for all of the project dependencies</li>
						<li>Via the use of generators one can scaffold projects very quickly</li>
					</ul>
					<aside class="notes">
						
					</aside>
				</section>

								<section>
					<img src="img/grunt.png"/>
					<h2>Grunt</h2>
					<p>Takes care of minification, compilation (sass, coffeescript), unit testing etc</p>
					<p>Automation</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<img src="img/bower.png"/>
					<h2>Bower</h2>
					<p>A package manager for the web, mainly front end packaging management.</p>
					<aside class="notes">
						How many js libraries are there out there? Name a few out loud<br>
						Back in the day we had prototypeJS<br>
					</aside>
				</section>

				<section>
					<img src="img/yo-generator.jpg"/>
					<h2>Generator</h2>
					<p>A way to instantiate convention over configuration</p>
					<p>Boilerplate code</p>
					<aside class="notes">
						Anybody does rails? This is like scaffolding</br>
						<ul>
							<li>CSS resets</li>
							<li>HTML5 doctypes, checks for old browsers (IE)</li>
							<li>Twitter bootstrap if you want it</li>
							<li>Standardized file/folder structure as well as naming conventions and name spaces</li>
						</ul>
					</aside>
				</section>

				<section>
					<h2>Who contributes to Yeoman?</h2>
					<p>Addy Osmani a.k.a Yeoman daddy + <a href="https://github.com/yeoman/yeoman/graphs/contributors" target="_blank">some of the best in the world</a>
					</p>
					<aside class="notes">
						Some of the best devs around... they're all buddies actually and most of them work at Google. 
						Pitfalls of that.
						Benefits of that
					</aside>
				</section>



				

				<section>
					<h2>How does Yeoman work</h2>
					<p>Live example</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Lets install Yeoman</h2>
					<ul>
						<li>You will need <a href="http://nodejs.org/" target="_blank">NodeJS</a></li>
						<li>Handle scenarios for those who don't have a Mac</li>
					</ul>
						<pre>
npm install -g yo
npm install -g generator-webapp
npm install -g generator-angular
						</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Lets create repos with Yeoman</h2>
					<p>Live example</p>
					<aside class="notes">
						Create a project with Yeoman<br>
						Install something via bower<br>
						Run a grunt command to create the dist folder<br>
					</aside>
				</section>

				<section>
					<h2>Time boxed 5-10 mins?</h2>
					<aside class="notes">
						
					</aside>
				</section>


				<section>
					<h2>What is an MVC framework</h2>
					<p>A pattern for your code that separates interaction and view</p>
					<ul>
						<li>Where does it come from? (smalltalk)</li>
						<li>How has it evolved in the front end</li>
						<ul>
							<li>DOJO Toolkit</li>
							<li>JavaScript MVC</li>
							<li>Backbone.js - Jeremy Ashkenas</li>
							<li>Spine.js</li>
							<li>Knockout.js MVVM</li>
							<li>Ember.js - Yehuda Katz &amp; Tom Dale</li>
							<li>AngularJS - Misko Hevery</li>
						</ul>
					</ul>
					<aside class="notes">
						What is the point of using an MVC framework? 
						Why should I care? 
						What differences are there between these frameworks?
						How can I choose the right one for me?
						Backbone - jeremy askhenas - document cloud
					</aside>
				</section>

				<section>
					<img src="img/AngularJS-large.png"/>
					<h2>Why choose Angular?</h2>
					<aside class="notes">
						There is no silver bullet.
						Both Angular and Ember are very different but definitely the most popular. 
						Seems like the evolution will come with Object.observe and shadow DOM. 
						Object.observe very similar to the double binding of the scope.
						Shadow DOM very similar to Directives
						It will come down to personal preference they are both extremely good libraries
					</aside>
				</section>

				<section>
					<h2>Who contributes to Angular?</h2>
					<ul>
						<li>Google</li>
						<li>
							<a href="http://misko.hevery.com/" target="_blank"/>Misko Hevery</a>
						</li>
						<li>
							<a href="https://github.com/IgorMinar" target="_blank">Igor Minar</a>
						</li>
						<li>
							<a href="https://github.com/vojtajina" target="_blank">Vojta Jina</a>
						</li>
						<li>
							<a href="https://github.com/matsko" target="_blank">Matias Niemela</a>
						</li>
						<li>
							<a href="https://github.com/btford" target="_blank">Brian Ford</a>
						</li>
					</ul>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<ul>
						<li>the ng...</li>
						<li>ng-app="App"</li>
						<li>ng-view</li>
					</ul>
					<pre>
						<code>
&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"/&gt;
  &lt;/head&gt;
  &lt;body ng-app="App"&gt;
    &lt;div class="container" ng-view&gt;&lt;/div&gt;
    &lt;script src="components/angular/angular.js"&gt;&lt;/script&gt;
    &lt;script src="scripts/app.js"&gt;&lt;/script&gt;
    &lt;script src="scripts/controllers/main.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code>
					</pre>
					<aside class="notes">
						This is a basic index.html file. You don't need to break out the controller and app.js files but its
						recommended for best practices. That way as your app gets bigger you can follow a nice file/folder structure
						where each route potentially can have its own controller and view (unless sharing makes more sense)
					</aside>
				</section>

				<section>
					<h2>Core concpets of angular</h2>
					<h3>Your main app module</h3>
					<br>
					<pre>
						<code>
'use strict';

angular.module('App', [])
  .config(function ($routeProvider) {
    $routeProvider
      .when('/', {
        templateUrl: 'views/main.html',
        controller: 'MainCtrl'
      })
      .otherwise({
        redirectTo: '/'
      });
  });
  	</code>
					</pre>
					<aside class="notes">
						This snippet would belong to the app.js file. Here we define all of our routes and potentially any ajax interceptors.
						Maybe some rootscope properties as well
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>Router</h3>
					<p>A router allows you to glue a controller to a view, creates a scope underneath that controller and maintains state within the app.</p>
					<pre>
						<code>
$routeProvider
 .when('/', {
  templateUrl: 'views/main.html',
  controller: 'MainCtrl'
 })
 .when('/directory', {
  templateUrl: 'views/directory.html',
  controller: 'DirectoryCtrl'
 })
 .otherwise({
  redirectTo: '/'
});
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>Controller</h3>
					<p>Instantiation of a new controller object along with its child scope</p>
					<pre>
						<code>
'use strict';

angular.module('App')
  .controller('MainCtrl', function ($scope) {
    $scope.awesomeThings = [
      'HTML5 Boilerplate',
      'AngularJS',
      'Karma'
    ];
  });
  					</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>


				<section>
					<h2>Core concepts of angular</h2>
					<h3>View</h3>
					<p>ng-view<br>Templates that interpolate scope objects that are part of a given controller or are inherited prototypically.</p>
					<pre>
						<code type="html">
<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>$scope</h3>
					<p>Keeps your logic contained to that controller unless you are using $rootScope</p>
					<p>$scope will allow you to interpolate its properties in a given view</p>
					<p>$scope.hello = "world"</p>
					<pre>
						<code type="html">
<div ng-bind="hello">...</div>
<div>{{hello}}... </div>
</code>
					</pre>
					<p>What gets rendered in the ... ?</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>$scope</h3>
					<pre>
						<code type="javascript">
angular.module('App')
  .controller('MainCtrl', function ($scope) {
    $scope.hello = [
     {title:'me',color:'blue',value:2},
     {title:'you',color:'red',value:0}
    ];
  });
</code>
<code type="html">
<!-- main.html-->
&lt;ul&gt;
 &lt;li ng-repeat="item in hello"&gt;
  &lt;div ng-bind="item.title"&gt;&lt;/div&gt;
  &lt;div&gt;{{item.color}}&lt;/div&gt;
  &lt;input type="number" ng-model="item.value"/&gt;
 &lt;/li&gt;
&lt;/ul&gt;
</code>
					</pre>
					
					<aside class="notes">
						
					</aside>
				</section>


				<section>
					<h2>Core concepts of angular</h2>
					<h3>Services</h3>
					<p>Something that spans multiple controllers and doesn't have a view tied to it.</p>
					<pre>
						<code>
'use strict';

angular.module('App')
  .service('Welcoming', function Calculations() {
    return{
      sayHello: function(){ return 'hello' },
      sayGoodbye: function(){ return 'goodbye' }
    }
  });
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>Constants</h3>
					<p>Maintained across the entire application. Can be injected as a service. Use this for constants within your application.</p>
					<pre>
						<code>
'use strict';

angular.module('App')
  .constant('Pi', 3.141516);
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>Custom Directives</h3>
					<p>UI components, charts, visualization... anything that has specific html conversion and needs to be part of the given scope.</p>
					<pre>
						<code>
'use strict';

angular.module('App')
  .directive('chart', function () {
    return {
      template: '<div>I am a chart</div>',
      restrict: 'E'
    };
  });
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Core concepts of angular</h2>
					<h3>Custom Dirctives</h3>
					<pre>
						<code>
'use strict';

angular.module('App')
  .directive('chart', function () {
  return {
      restrict: 'E',
      controller: function($scope, $element){

    	},
      templateUrl: 'my-dialog.html',
      link: function (scope, element) {
        scope.name = 'Jeff';
      }
    };
  });
						</code>
					</pre>
				</section>

				<section>
					<h2>Lets make an Angular app</h2>
					<p> If you have Yeoman installed follow the presenter</p>
					<p> If you do not have Yeoman installed please clone this repo</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Break 5-10 mins?</h2>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Recap</h2>
					<ul>
						<li>History</li>
						<li>Workflow</li>
						<ul>
							<li>Yeoman</li>
							<li>Generators</li>
							<li>Scaffolds</li>
						</ul>
						<li>MVC</li>
						<ul>
							<li>Ember</li>
							<li>Angular</li>
						</ul>
					</ul>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>What is SVG?</h2>
					<p>
						<ul>
							<li>Scalable Vector Graphics, vector image format for 2 dimensional graphics</li>
							<li>It is part of the DOM, can be styled using css</li>
							<li>Because its part of the DOM one can attach events to it via JavaScript</li>
							<li>Vectors can be scaled and because of that will look beautifully on retina displays</li>
							<li>Best practice to use images as SVG format and even fonts</li>
						</ul>
					</p>
					<aside class="notes">
						
					</aside>
				</section>


				<section>
					<h2>What is the canvas?</h2>
					<pre>
						<code type="html">
<canvas></canvas>
						</code>
					</pre>
					<p>Used to draw graphics, on the fly, via scripting (usually JavaScript)</p>
					<aside class="notes">
						<p>You can think of it as Flash but way cooler because it can interact with the rest of the app given that it uses JavaScript to draw items inside of it</p>
						<p></p>
					</aside>
				</section>

				<section>
					<h2>Third party libraries for Canvas</h2>
					<p>
						<ul>
							<li>Kinetic JS</li>
							<li>Fabric JS</li>
							<li>three JS</li>
						</ul>
					</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Third party libraries for SVG</h2>
					<p>
						<li>D3.js</li>
						<li>Raphael</li>
						<li>Bonsai JS</li>
					</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Why choose D3.js</h2>
					<ul>
						<li>Full power and control over every single vector drawn</li>
						<li>Extremely easy to data bind</li>
						<li>Extremely easy to bind events</li>
						<li>Its vectors so works beautifully on all displays</li>
						<li>Huge support from community</li>
					</ul>
					<aside class="notes">
						Talk about the power of data binding and the elegance of the library.
						Visualizations is a side product of the library. 
						Large community support.
					</aside>
				</section>

				<section>
					<h2>wuhu!</h2>
					<div id="firstD3"></div>
					
					<script>

					var width = 960,
					    height = 500;

					var color = d3.scale.category20();

					var force = d3.layout.force()
					    .charge(-120)
					    .linkDistance(30)
					    .size([width, height]);

					var svg = d3.select("#firstD3").append("svg")
					    .attr("width", width)
					    .attr("height", height);

					d3.json("/js/miserables.json", function(error, graph) {
					  force
					      .nodes(graph.nodes)
					      .links(graph.links)
					      .start();

					  var link = svg.selectAll(".link")
					      .data(graph.links)
					    .enter().append("line")
					      .attr("class", "link")
					      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

					  var node = svg.selectAll(".node")
					      .data(graph.nodes)
					    .enter().append("circle")
					      .attr("class", "node")
					      .attr("r", 5)
					      .style("fill", function(d) { return color(d.group); })
					      .call(force.drag);

					  node.append("title")
					      .text(function(d) { return d.name; });

					  force.on("tick", function() {
					    link.attr("x1", function(d) { return d.source.x; })
					        .attr("y1", function(d) { return d.source.y; })
					        .attr("x2", function(d) { return d.target.x; })
					        .attr("y2", function(d) { return d.target.y; });

					    node.attr("cx", function(d) { return d.x; })
					        .attr("cy", function(d) { return d.y; });
					  });
					});

					</script>
				</section>

				<section>
					<h2>Who's behind D3.js</h2>
					<p>
						<ul>
							<li>
								<a href="http://bost.ocks.org/mike/" target="_blank">Mike Bostock</a></li>
							<li>
								<a href="http://www.jasondavies.com/">Jason Davies</a></li>
							<li> many others </li>
						</ul>
					</p>
					<blockquote cite="http://www.ft.com/cms/s/2/dda1cb5c-f4c0-11e2-a62e-00144feabdc0.html"> "I suggest keeping an eye on the work of Bret Victor and Mike Bostock. Both are cutting edge. Bret Victor visualises programming, sees and thinks beautifully, just starting to blossom developed the open-source D3, Data-Driven Documents ."</blockquote>
					<i>Edward Tufte</i>
					<aside class="notes">
						<p>Edward Tufte is the guru of graphics, the high priest of presentation. For more than 30 years he has been showing us how to visualise data with simplicity, clarity and elegance, while campaigning against “chartjunk” and other design practices that lead to obfuscation.</p>
					</aside>
				</section>


				<section>
					<h2>Structure of a D3 visualization</h2>
					<ul>
						<li>Include the library</li>
						<li>svg container typically a &lt;div&gt;...&lt;div&gt;</li>
						<li>Some boiler plate for your svg container</li>
						<li>Create SVG items</li>
						<li>Data bind the SVG item attributes</li>
						<li>Enter, update, exit</li>
					</ul>
					<aside class="notes">
						<p>/</p>
					</aside>
				</section>


				<section>
					<h2>D3.js code example</h2>
					<a href="http://bl.ocks.org/mbostock/3885304" target="_blank">link to code</a>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Things to know about when using D3</h2>
					<ul>
						<li>SVG (elements attributes)</li>
						<li>Scales (linear, log, exp ... )</li>
						<li>Utility functions (max, min, etc)</li>
						<li>Boilerplate process</li>
					</ul>
				</section>

				<section>
					<h2>Lets create our own</h2>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Some maps maybe?</h2>
					<div id="usaMap"></div>
						<script>

var width = 960,
    height = 500;

var projection = d3.geo.albersUsa()
    .scale(1000)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

var mapContainer = d3.select("#usaMap").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("/data/output.json", function(error, us) {
  mapContainer.insert("path", ".graticule")
      .datum(topojson.feature(us, us.objects.roads))
      .attr("class", "land")
      .attr("d", path);
});

</script>
				</section>

				<section>
					<h2>Code for maps</h2>
					<pre>
						<code type="javascript">

var width = 960,
    height = 500;

var projection = d3.geo.albersUsa()
    .scale(1000)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

var mapContainer = d3.select("#usaMap").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("/data/output.json", function(error, us) {
  mapContainer.insert("path", ".graticule")
      .datum(topojson.feature(us, us.objects.roads))
      .attr("class", "land")
      .attr("d", path);
});
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Break 5-10 mins?</h2>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Lets create our final repo!</h2>
					<p>Create an angular application using Yeoman</p>
					<p>That app should have two routes, main and aboutUs, create them using the generator</p>
					<p>Include d3 using bower</p>
					<p>Insert the d3 code into a directive</p>
					<p>Insert the directive into the aboutUs route</p>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Create an angular application using Yeoman</h2>
					<pre>
						<code>
yo angular
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Create 2 routes</h2>
					<pre>
						<code>
yo angular:route main
yo angular:route aboutUs
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Include D3 with bower</h2>
					<pre>
						<code>
bower install d3
// include file in index.html
						</code>
					</pre>
					<aside class="notes">
						
					</aside>
				</section>

				<section>
					<h2>Thank you!</h2>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
